@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-sersif;
}

.parent {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(216, 20%, 95%);
  /* background-image: url(./bg.jpg); */
}

.container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  position: absolute;
  left: 0;
  width: 24px;
  height: 4px;
  background: hsl(216, 20%, 95%);
  border-radius: 8px;
  transform-origin: 128px;
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
  0% {
    background: #0ef;
  }

  25% {
    background: hsl(216, 20%, 95%);
  }
}

.login-box {
  position: absolute;
  width: 400px;
}

.login-box form {
  width: 100%;
  padding: 0 50px;
}

h2 {
  font-size: 2em;
  color: #0d47a1;
  text-align: center;
}

.input-box select {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid hsl(240, 9%, 2%);
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: black;
  padding: 0 10px;
  transition: .5s ease;
  appearance: none;
  /* Removes default browser styling */
}

.input-box select:focus {
  border-color: rgb(10, 10, 10);
}

.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid hsl(0, 0%, 6%);
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: black;
  padding: 0 20px;
  transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: rgb(8, 8, 8);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 1px;
  font-size: .8em;
  background: hsl(0, 8%, 95%);
  padding: 0 6px;
  color: rgb(9, 10, 10);
}

.forgot-pass {
  margin: -15px 0 10px;
  text-align: center;
}

.forgot-pass a {
  font-size: .85em;
  color: black;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #0d47a1;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
}

.signup-link {
  margin: 20px 0 10px;
  text-align: center;
}

.signup-link a {
  font-size: 1em;
  color: rgb(8, 8, 8);
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}