<div class="parent">
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <div class="input-box">
                    <input type="text" name="username" [(ngModel)]="loginObj.username" required />
                    <label>UserName</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" [(ngModel)]="loginObj.password" required />
                    <label>Password</label>
                </div>
                <div class="forgot-pass">
                    <a routerLink="/forgot-password">Forgot your password?</a>
                </div>
                <button class="btn" type="submit" [disabled]="!loginForm.form.valid">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>