<div class="parent">
    <div class="container">
        <div class="login-box shadow p-3 mb-5 bg-body-tertiary rounded-5 mt-4 pt-4">
            <h2>Signup</h2>
            <form (ngSubmit)="onSignup()" #signupForm="ngForm">
                <div class="input-box">
                    <input type="text" name="username" [(ngModel)]="signupObj.username" required />
                    <label>User Name</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" [(ngModel)]="signupObj.password" required />
                    <label>Password</label>
                </div>
                <div class="already-account">
                    <button type="submit" class="btn login-btn">
                        <h6 style="color: white;">Sign Up</h6>
                    </button>
                </div>
                <div class="already-account">
                    <p>Already have an account?</p>
                    <a routerLink="/login" class="btn login-btn" style="color: white;">Login</a>
                </div>

            </form>
        </div>
    </div>
</div>